.banner h1{
  font-size: 66px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.banner p{
  font-size: 20px;
  padding: 1em;
  color: white;
  width: 80%;
  margin-left: 35%;
}


.socialIcons {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.socialIcons i {
  color: white;
  font-size: 3em;
}

.projects_react{
  display: flex;
  justify-content: space-between;
  width: auto;
  margin: 2%;
}

.react_1{
  width: 2%;
}

.projects_js{
  display: flex;
  justify-content: space-between;
  width: auto;
  margin: 2%;
}

.js_1{
  width: 2%;
}

.projects_c{
  display: flex;
  justify-content: space-between;
  width: auto;
  margin: 2%;
}

.c_1{
  width: 2%;
}

.contact-icons{
  font-size: 3em;
  color: black;
}

.contact-icons i{
  margin: 3%;
}
