.banner h1{
  font-size: 66px;
  font-weight: bold;
  color: white;
  text-align: center;
}
body{
  background: linear-gradient(to right, #f5af19, #f12711);
}
.banner p{
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.socialIcons {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.socialIcons i {
  color: white;
  font-size: 3em;
}

.projects_react{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: auto;
  margin: 2%;
}

.react_1{
  width: 30%;
  margin-bottom: 2%;
}

.projects_js{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: auto;
  margin: 2%;
}

.js_1{
  width: 30%;
  margin-bottom: 2%;
}

.projects_c{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: auto;
  margin: 2%;
}

.projects_cpp{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: auto;
  margin: 2%;
}

.c_1{
  margin-bottom: 2%;
  width: 30%;
}

.projects_unity{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  width: auto;
  margin: 2%;
}

.unity_1{
  margin-bottom: 2%;
  width: 40%;
}
.contact-icons{
  font-size: 4vw;
  color: black;
}

.contact-icons i{
  margin: 2%;
}

.contactheader{
  font-size: 16vw;
}

@media only screen and (max-width: 600px) {
  .contact-icons{
    font-size: 6vw;
    color: black;
  }
}
